<!-- EXPERIENCE SECTION
================================================== -->
<section class="experience_section">
	<div class="section__content row">
		<div class="col-sm-3 col-xs-6 experience_section__item">
			<p class="experience__icon">
				<span>
					<img src="images/icons/icon-award.png" alt="">
				</span>
			</p>
			<p class="experience__title">
				Awards <br>winner
			</p>
			<p class="experience__counter">
				54
			</p>
		</div>

		<div class="col-sm-3 col-xs-6 experience_section__item">
			<p class="experience__icon">
				<span>
					<img src="images/icons/icon-checked-checkbox.png" alt="">
				</span>
			</p>
			<p class="experience__title">
				Jobs<br>done
			</p>
			<p class="experience__counter">
				1054
			</p>			
		</div>

		<div class="col-sm-3 col-xs-6 experience_section__item">
			<p class="experience__icon">
				<span>
					<img src="images/icons/icon-businessman.png" alt="">
				</span>
			</p>
			<p class="experience__title">
				Happy <br>clients
			</p>
			<p class="experience__counter">
				120
			</p>		
		</div>

		<div class="col-sm-3 col-xs-6 experience_section__item">
			<p class="experience__icon">
				<span>
					<img src="images/icons/icon-briefcase.png" alt="">
				</span>
			</p>
			<p class="experience__title">
				Reviews <br>recieved
			</p>
			<p class="experience__counter">
				54
			</p>			
		</div>
	</div>
</section>