<!--HEADER SLIDER
================================================== -->
<div class="header_slider">


<div class="jcarousel-wrapper">
        <!-- Carousel -->
  <div class="jcarousel">
    <ul>
      <li>
        <img src="images/img/atlantiada_main.jpg" alt="">
      </li>

      <li>
        <img src="images/img/atlantiada_main.jpg" alt="">
      </li>

      <li>
        <img src="images/img/atlantiada_main.jpg" alt="">
      </li>

      <li>
        <img src="images/img/atlantiada_main.jpg" alt="">
      </li>
           
    </ul>
</div>
<!-- Prev/next controls -->
<a href="#" class="jcarousel-prev">&lsaquo;</a>
<a href="#" class="jcarousel-next">&rsaquo;</a>
<!-- Pagination -->
<p class="jcarousel-pagination">
    <!-- Pagination items will be generated in here -->
</p>
</div>

<div class="title_wrapper">
  <h1 class="page-title">
    <a href="index.html" class="page_link with_agency_title">We are Atlantida</a>
  </h1>

  <a href="#about_us_section_ancor" class="start_btn">Get Started
  <span class="start_btn__arrow"></span>
  </a>
</div>


</div>
