<!-- NAVBAR
================================================== -->
  
<div class="container-fluid">

<div class="header__navbar">

    <a href="#" class="header__logo_wrapper">
      <div class="header__logo">
        <img src="images/pict/icon-logo.png" alt="logo image">
      </div>
      <span class="header__logo_title">Atlantida</span>
    </a>
      
    <label for="menu_toggle" class="header__nav_menu_btn">&#9776;</label>
    <input type="checkbox" id="menu_toggle" class="header__nav_menu_toggle" name="menu_tuggle">

    <nav class="header__nav_menu">
      <a href="#" class="header__nav_item">Home</a>
      <a href="#" class="header__nav_item">About</a>
      <a href="#" class="header__nav_item">Services</a>
      <a href="#" class="header__nav_item">History</a>
      <a href="#" class="header__nav_item">Team</a>
      <a href="#" class="header__nav_item">Portfolio</a>
      <a href="#" class="header__nav_item">Prices</a>
      <a href="#" class="header__nav_item">Blog</a>
      <a href="#" class="header__nav_item">Contact</a>
    </nav>

    <ul class="header__social_networks_menu">
      <li class="header__social_networks_item">
        <a href="#" class="header__social_network_link">
           <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </li>

      <li class="header__social_networks_item">
        <a href="#" class="header__social_network_link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      
      <li class="header__social_networks_item">
        <a href="#" class="header__social_network_link">
           <i class="fa fa-behance" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  
  </div>   

</div>

<!-- END OF NAVBAR
================================================== -->