<!-- NAVBAR
================================================== -->
<div class="container-fluid">
  <div class="container-fluid header__navbar_wrapper">

  <div class="header__navbar">

      <a href="index.html" class="header__logo_wrapper">
        <div class="header__logo">
          <img src="images/icons/icon-logo.png" alt="logo image">
        </div>
        <span class="header__logo_title">Atlantida</span>
      </a>
        
      <label for="menu_toggle" class="header__nav_menu_btn">&#9776;</label>
      <input type="checkbox" id="menu_toggle" class="header__nav_menu_toggle" name="menu_tuggle">

      <nav class="header__nav_menu">
        <a href="index.html" class="header__nav_item">Home</a>
        <a href="#about_us_section_ancor" class="header__nav_item scroll_to_about_us_section">About</a>
        <a href="#services_section_ancor" class="header__nav_item scroll_to_services_section">Services</a>
        <a href="#history_section_ancor" class="header__nav_item scroll_to_history_section">History</a>
        <a href="#our_team_section_ancor" class="header__nav_item scroll_to_our_team_section">Team</a>
        <a href="#portfolio_section_ancor" class="header__nav_item scroll_to_portfolio_section">Portfolio</a>
        <a href="#prices_section_ancor" class="header__nav_item scroll_to_prices_section">Prices</a>
        <a href="#blog_main_section_ancor" class="header__nav_item scroll_to_blog_main_section">Blog</a>
        <a href="#contacts_section_ancor" class="header__nav_item">Contact</a>
      </nav>

      <ul class="social_networks_info">
        <li class="social_networks_info__item">
          <a href="#">
             <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>

        <li class="social_networks_info__item">
          <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        
        <li class="social_networks_info__item">
          <a href="#">
             <i class="fa fa-behance" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    
    </div>   

  </div>

</div>
<!-- END OF NAVBAR
================================================== -->