<!-- PURCHASE SECTION
================================================== -->
<section class="purchase_section">
	<div class="section__content container-fluid">

		<div class="purchase__logo">
			<img src="images/img/compass-logo.png" alt="compass-logo">
		</div>
		<div class="purchase__content">
			<h3 class="purchase__title">
				Looking for a quality and affordable for your next project ?
			</h3>
			<p class="paragraph">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. 
				Etiam iaculis, nibh a lobortis egestas, est urna sodales
			</p>
		</div>
		<div class="btn_wrapper">
			<a href="#" class="purchase__btn">Purchase</a>
		</div>
		
	</div>
</section>