<aside class="sidebar">
	<form class="sidebar__form" role="form" name="sidebarForm" action="" method="" autocomplete="on">
		<div class="form-group">
	    <input type="search" class="form-control sidebar__search" placeholder="Search">
	     <button type="submit" class="sidebar_form__submit_btn ripple"><i class="fa fa-search" aria-hidden="true"></i></button>
	  </div>
	</form>

	<section class="sidebar__latest_posts">
		<h2 class="title"><a href="#">Latest posts</a></h2>
			<ul class="latest_posts_menu">
				<li class="latest_posts__item">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-5">
							<div class="thumbnail">
								<a href="#"><img src="images/img/thumbnail_1.png" alt="thumbnail"></a>
							</div>
						</div>
			 			<div class="col-md-7 col-sm-7 col-xs-7">
			 				<h3 class="sidebar__title"><a href="#">
			 					Sit amet pretium odio magna ege
			 				</a></h3>
			 				<p class="sidebar__paragraph">
			 					Nullam lobortis, turpis lobortis placerat vehicula, ipsum
			 				</p>
			 			</div>
					</div>
				</li>

				<li class="latest_posts__item">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-5 .col-xs-7">
							<div class="thumbnail">
								<a href="#"><img src="images/img/thumbnail_2.png" alt="thumbnail"></a>
							</div>
						</div>
			 			<div class="col-md-7 col-sm-7 col-xs-7">
			 				<h3 class="sidebar__title"><a href="#">
			 					Sit amet pretium odio magna ege</a>
			 				</h3>
			 				<p class="sidebar__paragraph">
			 					Nullam lobortis, turpis lobortis placerat vehicula, ipsum
			 				</p>
			 			</div>
					</div>
				</li>

				<li class="latest_posts__item">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-5">
							<div class="thumbnail">
								<a href="#"><img src="images/img/thumbnail_3.png" alt="thumbnail"></a>
							</div>
						</div>
			 			<div class="col-md-7 col-sm-7 col-xs-7">
			 				<h3 class="sidebar__title"><a href="#">
			 					Sit amet pretium odio magna ege</a>
			 				</h3>
			 				<p class="sidebar__paragraph">
			 					Nullam lobortis, turpis lobortis placerat vehicula, ipsum
			 				</p>
			 			</div>
					</div>
				</li>

				<li class="latest_posts__item">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-5">
							<div class="thumbnail">
								<a href="#"><img src="images/img/thumbnail_4.png" alt="thumbnail"></a>
							</div>
						</div>
			 			<div class="col-md-7 col-sm-7 col-xs-7">
			 				<h3 class="sidebar__title"><a href="#">
			 					Sit amet pretium odio magna ege</a>
			 				</h3>
			 				<p class="sidebar__paragraph">
			 					Nullam lobortis, turpis lobortis placerat vehicula, ipsum
			 				</p>
			 			</div>
					</div>
				</li>
			</ul>
	</section>

	<section class="sidebar__categories">
		
		<h2 class="title">Categories</h2>
		<ul class="categories_menu">
			<li class="categories_item">

				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Photography</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
					<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Website Design</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
					<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Branding</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
					<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Flyers</a>
				<!-- </h4> -->
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Uncategories</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">Category 22</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>
		</ul>

	</section>


	<section class="sidebar__archives">
		
		<h2 class="title">Archives</h2>
		<ul class="archives_menu">
			<li class="archives_item">
				<a href="#" class="btn_slide sidebar__archives__title arrow_left">January 2015</a>
				<ul class="archives_item__submenu">
					<li class="archives_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="archives_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="archives_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">December 2015</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">November 2015</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">October 2015</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>

			<li class="categories_item">
				<a href="#" class="btn_slide sidebar__categories__title arrow_left">September 2015</a>
				<ul class="categories_item__submenu">
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
					<li class="categories_item__submenu__item">
						<p class="sidebar__paragraph">Some context</p>
					</li>
				</ul>
			</li>
		</ul>

	</section>

	<section class="flickr_photos">

		<h2 class="title">Flickr photos</h2>

		<ul class="row thumbnail_menu">
		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_1.png" alt="thumbnail image"></a>
		  </li>

		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_2.png" alt="thumbnail image"></a>
		  </li>

		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_3.png" alt="thumbnail image"></a>
		  </li>

		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_4.png" alt="thumbnail image"></a>
		  </li>

		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_5.png" alt="thumbnail image"></a>
		  </li>

		  <li class="col-xs-4 col-sm-4 col-md-4 thumbnail_menu__item">
		      <a href="#"><img src="images/img/flickr_6.png" alt="thumbnail image"></a>
		  </li>
		</ul>

	</section>
</aside>
