<!-- ABOUT US SECTION
================================================== -->

<section id="about_us_section_ancor" class="about_us_section">
	<div class="about_us__image">
		<img src="images/img/about_us.jpg" alt="">
	</div>

	<div class="section__content">
		<h2 class="index_sections__title">
			About us
		</h2>

		<p class="paragraph">
			Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. Maecenas est enim, sollicitudin sit amet nisi vel, mattis efficitur sapien. Nulla lobortis dui in aliquam placerat. Maecenas commodo odio nec neque imperdiet sagittis. Fusce mauris tellus, vulputate id finibus a, rutrum et justo. Vivamus at eros sed justo laoreet mattis vulputate vel magna. Sed quis pulvinar quam, et tempus purus. Fusce et nisi eget dui hendrerit iaculis. Cras volutpat augue tempor viverra tincidunt. Maecenas interdum scelerisque enim. Aenean interdum leo ac lectus gravida, id tincidunt sem finibus. Curabitur ac arcu blandit, tempus leo id, ultrices ante. 
		</p>

		<div class="btn_container">
			<a href="#" class="contact_btn">Contact us</a>
			<a href="#" class="portfolio_btn">Portfolio</a>
		</div>
	</div>


</section>