<section class="container blogs_masonry">
  <div class="row">

    <div class="col-sm-4">
      <div class="row">

        <div class="col-md-12">
          <article class="blog__review blog_item">
            <figure class="post_img">
              <a href="index.html">
                <img src="images/img/masonry-img-1.jpg" class="img-responsive" alt="sea side" title="sea side">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="index.html" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-4.jpg" class="img-responsive" alt="winter skyhills" title="winter skyhills">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
						  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-7.jpg" class="img-responsive" alt="crab" title="crab">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">

        <div class="col-md-12">
          <article class="blog__review blog_item">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-2.jpg" class="img-responsive" alt="beard" title="beard">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-5.jpg" class="img-responsive" alt="cup" title="cup">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
						  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-8.jpg" class="img-responsive" alt="thing" title="thing">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">

        <div class="col-md-12">
          <article class="blog__review blog_item">
            <figure class="post_img">
            <a href="">
              <img src="images/img/masonry-img-3.jpg" class="img-responsive" alt="book" title="book">
            </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-6.jpg" class="img-responsive" alt="painted face" title="painted face">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
						  	</a>
          </article>
        </div>

        <div class="col-md-12 blog_item">
          <article class="blog__review">
            <figure class="post_img">
              <a href="">
                <img src="images/img/masonry-img-9.jpg" class="img-responsive" alt="wood" title="wood">
              </a>
            </figure>
            <h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
            <p class="paragraph">
              <i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
            </p>
            <ul class="list-inline post_info-wrap">
              <li class="post_info__item">
                <i class="fa fa-comment-o" aria-hidden="true"></i></li>
              <li class="post_info__item">95</li>
              <li class="post_info__item">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">567</li>
              <li class="post_info__item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </li>
              <li class="post_info__item">Branding</li>
            </ul>
            <p class="paragraph">
              Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis
            </p>
            <a href="#" class="btn blog__btn ripple">Read more
					  	</a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>