<!-- BLOGS
================================================== -->
<section class="container blogs">
	<div class="row">
		<div class="col-md-8 col-sm-8">
			<ul class="blogs_wrap">

				<li class="blog_item">
					<article class="blog__review">
						<figure class="post_img">
							<a href="index.html">
								<img src="images/img/image-sea.jpg" class="img-responsive" alt="sea side" title="sea side">
							</a>
						</figure>
						

						<h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
						<p class="paragraph">
							<i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
						</p>

						<ul class="list-inline post_info-wrap">
							<li class="post_info__item">
								<i class="fa fa-comment-o" aria-hidden="true"></i></li>
							<li class="post_info__item">95</li>
							<li class="post_info__item">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">567</li>
							<li class="post_info__item">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">Branding</li>
						</ul>

						<p class="paragraph">
							Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
						</p>

						<a href="index.html" class="btn blog__btn ripple">Read more
				  	</a>
					</article>
				</li>

				<li class="blog_item">
					<article class="blog__review">
						<figure class="post_img">
							<a href="">
								<img src="images/img/winter_relax.jpg" class="img-responsive" alt="winter relax" title="winter relax">
							</a>
						</figure>
						

						<h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
						<p class="paragraph">
							<i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
						</p>

						<ul class="list-inline post_info-wrap">
							<li class="post_info__item">
								<i class="fa fa-comment-o" aria-hidden="true"></i></li>
							<li class="post_info__item">95</li>
							<li class="post_info__item">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">567</li>
							<li class="post_info__item">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">Branding</li>
						</ul>

						<p class="paragraph">
							Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
						</p>

						<a href="#" class="btn blog__btn ripple">Read more
				  	</a>
					</article>
				</li>

				<li class="blog_item">
					<article class="blog__review">
						<figure class="post_img">
							<a href="">
								<img src="images/img/retro_things.jpg" class="img-responsive" alt="retro things" title="retro things">
							</a>
						</figure>
						

						<h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
						<p class="paragraph">
							<i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
						</p>

						<ul class="list-inline post_info-wrap">
							<li class="post_info__item">
								<i class="fa fa-comment-o" aria-hidden="true"></i></li>
							<li class="post_info__item">95</li>
							<li class="post_info__item">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">567</li>
							<li class="post_info__item">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">Branding</li>
						</ul>

						<p class="paragraph">
							Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
						</p>

						<a href="#" class="btn blog__btn ripple">Read more
				  	</a>
					</article>
				</li>

				<li class="blog_item">
					<article class="blog__review">
						<figure class="post_img">
							<a href="">
								<img src="images/img/map-scheme.jpg" class="img-responsive" alt="map-scheme" title="map-scheme">
							</a>
						</figure>
						

						<h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
						<p class="paragraph">
							<i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
						</p>

						<ul class="list-inline post_info-wrap">
							<li class="post_info__item">
								<i class="fa fa-comment-o" aria-hidden="true"></i></li>
							<li class="post_info__item">95</li>
							<li class="post_info__item">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">567</li>
							<li class="post_info__item">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">Branding</li>
						</ul>

						<p class="paragraph">
							Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
						</p>

						<a href="#" class="btn blog__btn ripple">Read more
				  	</a>
					</article>
				</li>

				<li class="blog_item">
					<article class="blog__review">
						<figure class="post_img">
							<a href="">
								<img src="images/img/emblem.jpg" class="emblem" alt="Responsive image" title="emblem">
							</a>
						</figure>
						

						<h2 class="title">Donec id lobortis tellus. Maecenas vel dignissim</h2>
						<p class="paragraph">
							<i>By Admin / <time datetime="2015-10-07" pubdate>07 October 2015</time></i>
						</p>

						<ul class="list-inline post_info-wrap">
							<li class="post_info__item">
								<i class="fa fa-comment-o" aria-hidden="true"></i></li>
							<li class="post_info__item">95</li>
							<li class="post_info__item">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">567</li>
							<li class="post_info__item">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</li>
							<li class="post_info__item">Branding</li>
						</ul>

						<p class="paragraph">
							Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
						</p>

						<a href="#" class="btn blog__btn ripple">Read more
				  	</a>
					</article>
				</li>

			</ul>

			<div class="blog__pagination">
			  <a href="#" class="blog__pagination_item"><span>1</span></a>
			  <a href="#" class="blog__pagination_item"><span>2</span></a>
			  <a href="#" class="blog__pagination_item"><span>3</span></a>
			  <a href="#" class="blog__pagination_item"><span>&gt;</span></a>
			</div>

		</div>

<!-- END OF BLOGS
================================================== -->

<!-- SIDEBAR
================================================== -->
		<div class="col-md-4 col-sm-4">
			@@include('../components/sidebar.html')
		</div>
	</div>
</section>

<!-- END OF SIDEBAR
================================================== -->