	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/tendina.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/common.js"></script>
	<!--  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfbawFdxFCv2AmiHnujJqQIzo9P-fo5K4&callback=initMap">
    </script> -->
	
	</body>
</html>