<footer id="footer_ancor" class="footer">
	<div class="section__content container-fluid">
		<a href="index.html" class="footer__logo_wrapper">
			<div class="footer__logo">
				<img src="images/icons/icon-logo.png" alt="logo image">
			</div>
			<span class="footer__logo_title">Atlantida</span>
		</a>
		<div class="row">
			<div class="footer__content col-md-4">
				<p class="paragraph">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
				</p>

				<h3 class="footer__title">
					Atlantida studio
				</h3>
				<p class="paragraph">
					Steven Bernson, Attorney at Law <br>
					1556 Broadway, suite 416 <br>
					New York, NY, 10120, USA 
				</p>

				<h4 class="footer__contacts">
					<a href="mailto:elegantflyers@gmail.com">elegantflyers@gmail.com</a> <br>
					<a href="tel:+84 956 654 972">+84 956 654 972</a>
				</h4>

				<ul class="social_networks_info">
					<li class="social_networks_info__item">
						<a href="#">
							 <i class="fa fa-facebook-official" aria-hidden="true"></i>
						</a>
					</li>

					<li class="social_networks_info__item">
						<a href="#">
							  <i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</li>
					
					<li class="social_networks_info__item">
						<a href="#">
							 <i class="fa fa-behance" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>


			<div class="footer__form col-md-8">
				
				<form class="form-inline" role="form" name="footer__form" action="" method="" autocomplete="on">
				  <div class="form-group">
				    <label class="sr-only" for="input_name">Name</label>
				    <input type="text" class="form-control" id="input_name" placeholder="Name*" name="user" required>
				  </div>

				  <div class="form-group">
				    <label class="sr-only" for="input_email">Email</label>
				    <input type="email" class="form-control" id="input_email" placeholder="E-mail*" name="email" required>
				  </div>

				   <div class="form-group">
				    <label class="sr-only" for="input_subject">Telephone</label>
				    <input type="text" class="form-control" id="input_subject" placeholder="Telephone*" name="subject" required>
				  </div>

				  <div class="form-group">
				    <label class="sr-only" for="input_subject">Website</label>
				    <input type="url" class="form-control" id="input_website" placeholder="Website" name="website">
				  </div>

				  <div class="form-group--message">
				    <label class="sr-only" for="input_message">Message</label>
				    <textarea rows="3" class="form-control" id="input_message" placeholder="Message" name="message"></textarea>
				  </div>

				  <button type="submit" class="btn footer__form__submit_btn ripple">Submit
				  </button>
				</form>

			</div>

		</div>

		<div class="corpright">
			Copyright © 2015 Atlantida Theme
		</div>
	</div>
</footer>
