<header class="header">
<!-- NAVBAR
================================================== -->
  
  <div class="container-fluid">
 <!--      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/pict/icon-logo.png" class="main_logo" alt="logo"><span class="logo_title">Atlantida</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse content_centered">

            <ul class="nav navbar-nav navbar-right social-network">
              <li class="social-network__item">
                <a href="#">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social-network__item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="social-network__item">
                <a href="#">
                  <i class="fa fa-behance" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <ul class="nav navbar-nav header__nav--inline-blocked">
              <li class="nav-item"><a href="#">Home</a></li>
              <li class="nav-item"><a href="#">About</a></li>
              <li class="nav-item"><a href="#">Services</a></li>
              <li class="nav-item"><a href="#">History</a></li>
              <li class="nav-item"><a href="#">Team</a></li>
              <li class="nav-item"><a href="#">Portfolio</a></li>
              <li class="nav-item"><a href="#">Prices</a></li>
              <li class="nav-item"><a href="#">Blog</a></li>
              <li class="nav-item"><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav> -->
  <div class="header__navbar">

      <a href="#" class="header__logo_wrapper">
        <div class="header__logo">
          <img src="images/pict/icon-logo.png" alt="logo image">
        </div>
        <span class="header__logo_title">Atlantida</span>
      </a>
        
      <label for="menu_toggle" class="header__nav_menu_btn">&#9776;</label>
      <input type="checkbox" id="menu_toggle" class="header__nav_menu_toggle" name="menu_tuggle">

      <nav class="header__nav_menu">
        <a href="#" class="header__nav_item">Home</a>
        <a href="#" class="header__nav_item">About</a>
        <a href="#" class="header__nav_item">Services</a>
        <a href="#" class="header__nav_item">History</a>
        <a href="#" class="header__nav_item">Team</a>
        <a href="#" class="header__nav_item">Portfolio</a>
        <a href="#" class="header__nav_item">Prices</a>
        <a href="#" class="header__nav_item">Blog</a>
        <a href="#" class="header__nav_item">Contact</a>
      </nav>

      <ul class="header__social_networks_menu">
        <li class="header__social_networks_item">
          <a href="#" class="header__social_network_link">
             <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>

        <li class="header__social_networks_item">
          <a href="#" class="header__social_network_link">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        
        <li class="header__social_networks_item">
          <a href="#" class="header__social_network_link">
             <i class="fa fa-behance" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    
    </div>   
  
  </div>


 
    <!-- SLIDER
    ================================================== -->

    <div class="jumbotron slider">
      <div class="container">
        <h1 class="page-header">Post with sidebar</h1>
       
        <ol class="breadcrumb">
          <li class="breadcrumb__item"><a href="#">Home</a></li>
          <li class="breadcrumb__item"><a href="#">Blog</a></li>
        </ol>
      </div>

      <div class="container">
        <h1 class="page-header">Another one</h1>

        <ol class="breadcrumb">
          <li class="breadcrumb__item"><a href="#">Home</a></li>
          <li class="breadcrumb__item"><a href="#">Blog</a></li>
        </ol>
      </div>

      <div class="container">
        <h1 class="page-header">And another one</h1>
       
        <ol class="breadcrumb">
          <li class="breadcrumb__item"><a href="#">Home</a></li>
          <li class="breadcrumb__item"><a href="#">Blog</a></li>
        </ol>
      </div>
    </div>
</header>