<!-- HISTORY SECTION
================================================== -->
<section id="history_section_ancor" class="history_section">
	<div class="section__content container-fluid">
			<h2 class="index_sections__title">
				History
		</h2>

		<h3 class="index_sections__subtitle">
			In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. 
		</h3>

		<div class="row history_posts_wrapper">
			<div class="history_scale"></div>
			<div class="col-sm-12 for_history_row">

				<div class="history_year">
					<time datetime="2015">2015</time>
				</div>

				<div class="row">
					
					<div class="col-sm-6 history_post__item_wrapper">

						<div class="history_post__item">
							<h4 class="history_post__title">
								Donec id lobortis tellus. Maecenas vel dignissim
							</h4>
							<p class="history_post_date">
								<time datetime="2015-10-07">07 October 2015</time>
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							</p>
						</div>

						<span class="history_post__decor"></span>
					</div>

					<div class="col-sm-6 history_post__item_wrapper">

						<div class="history_post__item">
							<h4 class="history_post__title">
								Nam tincidunt, lacus sit amet ultrices 
							</h4>
							<p class="history_post_date">
								<time datetime="2015-06-05">05 June 2015</time>
							</p>
							<p class="paragraph">
								In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus lorem. 
							</p>
						</div>

						<span class="history_post__decor"></span>
					</div>	

				</div>
			</div>


			<div class="col-sm-12 for_history_row">
				<div class="row">

					<div class="col-sm-6 history_post__item_wrapper">

						<div class="history_post__item">
							<h4 class="history_post__title">
									Donec id lobortis tellus. Maecenas vel dignissim
							</h4>
							<p class="history_post_date">
								<time datetime="2015-05-07">07 May 2015</time>
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							</p>
						</div>	
						
						<span class="history_post__decor"></span>
					</div>		

					<div class="col-sm-6 history_post__item_wrapper">
						<div class="history_post__item">
								<h4 class="history_post__title">
									Donec id lobortis tellus. Maecenas vel dignissim
								</h4>
								<p class="history_post_date">
									<time datetime="2015-04-02">02 April 2015</time>
								</p>
								<p class="paragraph">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>

								<p class="paragraph">
									Praesent id augue in risus molestie euismod molestie id augue. Suspendisse a libero porttitor, lobortis eros ac, varius velit. Praesent sed eros at elit suscipit laoreet vitae condimentum risus.
								</p>
						</div>

						<span class="history_post__decor"></span>
					</div>

				</div>
			</div>	

			<div class="col-sm-12 for_history_row">

				<div class="history_year">
					<time datetime="2014">2014</time>
				</div>

				<div class="row">
				
					<div class="col-sm-6 history_post__item_wrapper">
						<div class="history_post__item">
							<h4 class="history_post__title">
								Donec id lobortis tellus. Maecenas vel dignissim
							</h4>
							<p class="history_post_date">
								<time datetime="2014-10-07">07 October 2014</time>
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							</p>
						</div>

						<span class="history_post__decor"></span>
					</div>

					<div class="col-sm-6 history_post__item_wrapper">
						<div class="history_post__item">
							<h4 class="history_post__title">
								Nam tincidunt, lacus sit amet ultrices 
							</h4>
							<p class="history_post_date">
								<time datetime="2014-06-05">05 June 2014</time>
							</p>
							<p class="paragraph">
								In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus lorem. 
							</p>
						</div>

						<span class="history_post__decor"></span>
					</div>
				</div>

			</div>
		</div>

		<div class="history_year_last">
			<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
		</div>

	</div>
</section>