<!-- OUR TEAM SECTION
================================================== -->
<section id="our_team_section_ancor" class="our_team_section">
		<div class="section__content container-fluid">
			<h2 class="index_sections__title">
				Our team
		</h2>

		<h3 class="index_sections__subtitle">
			Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
		</h3>

		<figure class="our_team__images">
			<div class="our_team_member_image">
				<img src="images/img/team_member-1.jpg" alt="team member photo">
				<div class="our_team_member_visit_card">
					<div class="team_member_personal_info">
						<p class="team_member_name">
							John Smith
						</p>
						<p class="team_member_position">
							Designer
						</p>
						<p class="devider"></p>
						<ul class="social_network_info">
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-behance" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="our_team_member_image">
				<img src="images/img/team_member-2.jpg" alt="team member photo">
				<div class="our_team_member_visit_card">
					<div class="team_member_personal_info">
						<p class="team_member_name">
							Sarah Connor
						</p>
						<p class="team_member_position">
							Programmer
						</p>
						<p class="devider"></p>
						<ul class="social_network_info">
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-behance" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>

			<div class="our_team_member_image">
				<img src="images/img/team_member-3.jpg" alt="team member photo">
				<div class="our_team_member_visit_card">
					<div class="team_member_personal_info">
						<p class="team_member_name">
							Sasha Grey 
						</p>
						<p class="team_member_position">
							Designer
						</p>
						<p class="devider"></p>
						<ul class="social_network_info">
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li class="social_networks_info__item">
								<a href="#">
									<i class="fa fa-behance" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</figure>
</div>
</section>