<!-- PORTFOLIO SECTION
================================================== -->
<section id="portfolio_section_ancor" class="portfolio_section">
	<div class="section__content container-fluid">
		<h2 class="index_sections__title">
				Portfolio
		</h2>

		<h3 class="index_sections__subtitle">
			Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
		</h3>

		<div class="portfolio_section__btn_group_wrapper">
			<a href="#" class="portfolio_section__btn">
				All
			</a>
			<a href="#" class="portfolio_section__btn">
				Website
			</a>
			<a href="#" class="portfolio_section__btn">
				Brochures
			</a>
			<a href="#" class="portfolio_section__btn">
				Logos
			</a>
		</div>
	</div>


<div id="portfolio_gallery_container" clearfix">
	
		<div class="portfolio__image-sizer"></div>
		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-1.jpg" alt="portfolio_work_image-1">
		</div>

		<div class="portfolio__image">
				<img src="images/img/portfolio_work_image-2.jpg" alt="portfolio_work_image-2">
		</div>
	
	
		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-3.jpg" alt="portfolio_work_image-3">
		</div>

		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-4.jpg" alt="portfolio_work_image-4">
		</div>
	

	
		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-5.jpg" alt="portfolio_work_image-5">
		</div>

		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-6.jpg" alt="portfolio_work_image-6">
		</div>
	

	
		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-7.jpg" alt="portfolio_work_image-7">
		</div>

		<div class="portfolio__image">
			<img src="images/img/portfolio_work_image-8.jpg" alt="portfolio_work_image-8">
		</div>
	
	</div>
</section>