<!-- PRICES SECTION
================================================== -->
<section id="prices_section_ancor" class="prices_section">
	<div class="section__content container-fluid">
		<h2 class="index_sections__title">
				Prices
		</h2>

		<h3 class="index_sections__subtitle">
			Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
		</h3>

		<div class="row prices_wrapper">
			<div class="col-sm-4 price__item">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h4 class="price__title">Basic</h4>
						<div class="price__icon">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</div>
						<div class="price__value">
							<span>10</span>
						</div>
						<p class="paragraph">Full Access</p>
						<p class="paragraph">Unlimited Edition</p>
						<p class="paragraph">Full Backup</p>
						<p class="paragraph">Free Tea and Free Mockup</p>
						<p class="paragraph">Several Prices</p>
						<div class="price__btn_wrap">
							<a href="#" class="price__btn">Sign up</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4 price__item">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h4 class="price__title">Advanced</h4>
						<div class="price__icon">
							<i class="fa fa-bullhorn" aria-hidden="true"></i>
						</div>
						<div class="price__value">
							<span>20</span>
						</div>
						<p class="paragraph">Full Access</p>
						<p class="paragraph">Unlimited Edition</p>
						<p class="paragraph">Full Backup</p>
						<p class="paragraph">Free Tea and Free Mockup</p>
						<p class="paragraph">Several Prices</p>
						<div class="price__btn_wrap">
							<a href="#" class="price__btn">Sign up</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 price__item">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h4 class="price__title">Pro</h4>
						<div class="price__icon">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						</div>
						<div class="price__value">
							<span>30</span>
						</div>
						<p class="paragraph">Full Access</p>
						<p class="paragraph">Unlimited Edition</p>
						<p class="paragraph">Full Backup</p>
						<p class="paragraph">Free Tea and Free Mockup</p>
						<p class="paragraph">Several Prices</p>
						<div class="price__btn_wrap">
							<a href="#" class="price__btn">Sign up</a>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</section>