<!-- TESTIMONIALS SECTION
================================================== -->
<section class="testimonials_section">
	<div class="section__content container-fluid">
		<ul class="slider">
			<li class="slider_item">
				<div class="testimonials_section__avatar">
					<img src="images/img/alexander_podvalny-avatar.png" alt="">
				</div>
				<div class="paragraph--quote">
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor.<br>
						Etiam iaculis, nibh a lobortis egestas, est urna sodales
					</blockquote>
				</div>
				<div class="testimonials_section__name">
					Alexandr Podvalny
				</div>
				<div class="testimonials_section__company">
					Free-PSD-Template.com Company
				</div>
			</li>

			<li class="slider_item">
				<div class="testimonials_section__avatar">
					<img src="images/img/alexander_podvalny-avatar.png" alt="">
				</div>
				<div class="paragraph--quote">
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor.<br>
						Etiam iaculis, nibh a lobortis egestas, est urna sodales
					</blockquote>
				</div>
				<div class="testimonials_section__name">
					Alexandr Podvalny
				</div>
				<div class="testimonials_section__company">
					Free-PSD-Template.com Company
				</div>
			</li>

			<li class="slider_item">
				<div class="testimonials_section__avatar">
					<img src="images/img/alexander_podvalny-avatar.png" alt="">
				</div>
				<div class="paragraph--quote">
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor.<br>
						Etiam iaculis, nibh a lobortis egestas, est urna sodales
					</blockquote>
				</div>
				<div class="testimonials_section__name">
					Alexandr Podvalny
				</div>
				<div class="testimonials_section__company">
					Free-PSD-Template.com Company
				</div>
			</li>
		</ul>
	</div>
</section>