.blogs_wrap {
	margin-bottom: 45px;
	border-bottom: 1px solid #3e3d3d;
	
	@media screen and (min-width: 768px) {
		margin-bottom: 75px;
		padding-bottom: 30px;
	}
}

.blog_item {
	margin-bottom: 40px;
}

.blogs_masonry {
	.blog_item {
		margin-bottom: 60px;
	}
}

.blog__review {
	 .blog__btn {
	 		&:hover {
				background-color: #3e3d3d;
				color: #fff;
			}
	 }
}

.blog__btn {
	width: 50%;
	border: 2px solid #3e3d3d;
	padding: 8px 35px;
	background-color: #e3e3e3;
	color: #3e3d3d;
	font: 13px/1.5 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 0.3s;



	&:active {
		background-color: #161616;
	}

	@media screen and (min-width: 768px) {
		width: auto;
	}
}

.blog__pagination {
	margin: 45px 0;
	text-align: center;

	@media screen and (min-width: 768px) {
		width: auto;
		margin: 20px 0;
	}
} 

 a.blog__pagination_item {
	display: inline-block;
	width: 38px;
	height: 38px;
	border: 1px solid #3e3d3d;
	line-height: 38px;
	white-space: nowrap;
	vertical-align: middle;

	color: #3e3d3d;
	font-style: italic;
	font-size: 14px;
	font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;
	
	&:focus {
		color: #3e3d3d;
	}

	&:hover {
		text-decoration: none;
		background: #3e3d3d;
		color: #fff;
	}
}
