// HEADER SLIDER

.header {
  .jumbotron {
    border-radius: 0;
    background-color: transparent;

    .slick-dots {
      margin-left: -15px; 
      
      @media screen and (min-width: 768px) {
        margin-left: -60px;
      }
    }
    
    .page-title {
      margin-bottom: 45px;
      border-bottom-width: 0;
      font-size: 24px;
      font-family: 'amsdamregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.5;
      letter-spacing: 2px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      transition: font-size 0.3s;

      .page_link {
        color: inherit;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          width: 210px;
          height: 5px;
          background-image: url('../images/pict/line-white.png');
          background-repeat: repeat-x;
          left: 50%;
          bottom: -20px;
          transform: translate(-50%, 0);
          transition: width 0.3s;

          @media screen and (min-width: 768px) {
            width: 320px;
          }
        }

        &:hover {
          color: #F0DEBA;
          &::after {
            background-image: url('../images/pict/line-beige.png');
          }
        }
      }

      @media screen and (min-width: 768px) {
        font-size: 36px;
      }
    }

   .breadcrumb {
      background-color: transparent;
      text-align: center;
      
      .breadcrumb__item {
        color: #fff;
        font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;
        position: relative;
        text-decoration: none;

        &::after {
          content: " \003E";
        }

        &:last-child::after {
          content: "";
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: #F0DEBA;
        }
      }
    }


  }
}

.post_sidebar_page_bg {
	background: url('../images/img/post_sidebar_bg.jpg') 50% 50%/cover no-repeat;
}

.blog_sidebar_page_bg {
	background: url('../images/img/blog_sidebar_bg.jpg') 50% 50%/cover no-repeat;
}


.slick-prev {
	left: 60px;
	z-index: 1;
}

.slick-next {
	right: 60px;
}


.slick-dotted.slick-slider,
.jumbotron {
	margin-bottom: 8%;
	@media screen and (max-width: 750px) {
		margin-bottom: 10%;
	}

	@media screen and (max-width: 480px) {
		margin-bottom: 12%;
	}
}


