// NAVBAR

.header__navbar_wrapper {
	max-width: 1170px;
	padding-left: 0px;
	padding-right: 0px;
}

.header__navbar {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	border-width: 0;
	border-radius: 0;
	position: relative;
}

.header__logo-wrapper {
	display: block;
}

.header__logo {
	margin-right: 10px;
	display: inline-block;
	width: 41px;
	height: 29px;
}

.header__logo_title {
	color: #fff;
	font: 18px 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	line-height: 29px;
	vertical-align: middle;
	letter-spacing: 3px;
}

.header__nav_menu_toggle {
	display: none;
}

.header__nav_menu_btn {
	margin-bottom: 0;
	position: relative;
  cursor: pointer;
	font-size: 30px;
	color: #aaa;
	transition: color 0.3s;

	&:hover {
		color: #fff;
	}

	@media screen and (min-width: 898px) {
		display: none;
	}
}

.header__nav_menu {
	display: none;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: -15px;
	background: #373737;
	width: calc( 100% + 30px);
	opacity: 0.9;

	// @media screen and (min-width: 721px) {
	// 	display: block;
	// 	position: absolute;
	// 	top: 100%; 
	// 	left: 100%;
	// 	z-index: 1;
	// 	width: calc( 30% + 15px);
	// 	border: 1px solid #aaa;
	// 	transition-property: left, color;
	// 	transition-duration: 1s, 0.3s;
	// 	transition-timing-function: ease-out, ease;

	// 	&::before {
	// 		content: "\2630";
	// 		position: absolute;
	// 		left: -37px;
	// 		top: -1px;
	// 		width: 37px;
	// 		height: 74px;
	// 		background: #373737;
	// 		border: 1px solid #aaa;
	// 		border-radius: 5px 0 0 5px;
	// 		font-size: 30px;
	// 		color: #aaa;
	// 		text-align: center;
	// 		line-height: 74px;
	// 	}

	// 	&:hover {
	// 		left: 70%;
	// 		cursor: pointer;

	// 		&:before {
	// 			color: #eee;
	// 		}
	// 	}
	// }

	@media screen and (min-width: 898px) {
		position: static;
		display: block;
		width: auto;
		border-width: 0;
		background: transparent;
		opacity: 1;

		&::before {
			display: none;
		}
	}
}

.header__nav_item {
	display: block;
	padding: 10px;
	font: 400 12px 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #aaa;
	transition-property: background, color;
	transition-duration: 0.3s, 0.3s;

	&:hover {
		background: #eee;
		color: #373737;
		text-decoration: none;
	}

	&:focus {
		color: #aaa;
	}

	@media screen and (min-width: 721px) {
		display: block;
		text-align: center;
		
		&:first-of-type {
			border-top-width: 0;
		}

		&:hover {
			background: #eee;
			color: #373737;
		}
	}

	@media screen and (min-width: 898px) {
		display: inline-block;
		border-top-width: 0;
		padding: 5px 7.5px;

		&:hover {
			background: transparent;
			color: #fff;
		}
	}
}

input[type="checkbox"]:checked + .header__nav_menu {
	display: block;
}

.social_networks_info {
	margin-bottom: 0;
	display: none;

	@media screen and (min-width: 898px) {
		display: block;
	}
}

.header__navbar {
	.social_networks_info__item {
		
		a {
			color: #aaa;
			border-right-color: #aaa;

			&:hover {
				color: #fff;
			}
		}
	}
}
