// HEADER SLIDER

.container-fluid {
  .jumbotron {
    border-radius: 0;

    .page-title {
      margin-bottom: 45px;
      border-bottom-width: 0;
      font-size: 24px;
      font-family: 'amsdamregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.5;
      letter-spacing: 2px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      transition: font-size 0.3s;

      .page_link {
        color: inherit;
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        width: 210px;
        height: 5px;
        background-image: url('../images/pict/line.png');
        background-repeat: repeat-x;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, 0);
        transition: width 0.3s;

        @media screen and (min-width: 560px) {
          width: 320px;
        }
      }

      @media screen and (min-width: 560px) {
        font-size: 36px;
      }
    }

    .breadcrumb {
      background-color: transparent;
      text-align: center;

      a {
        color: #fff;
        font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;
        position: relative;
        text-decoration: none;

        &:hover {
          color: #F0DEBA;
        }

        &::after {
          content: " \003E";
        }
      }

      .breadcrumb__item:last-child {
        a::after {
          content: "";
        }
      }
    }
  }
}

.post_sidebar_page_bg {
	background: url('../images/img/post_sidebar_bg.jpg') 50% 50%/cover no-repeat;
}

.blog_sidebar_page_bg {
	background: url('../images/img/blog_sidebar_bg.jpg') 50% 50%/cover no-repeat;
}

	// 	.slick-dots {
	// 		margin-left: -60px;

	// 		@media screen and (max-width: 767px) {
	// 			margin-left: -15px;	
	// 		}
	// 	}

	// 	.slick-prev {
	// 		left: 60px;
	// 		z-index: 1;
	// 	}

	// 	.slick-next {
	// 		right: 60px;
	// 	}
	// }

	// .slick-dotted.slick-slider,
	// .jumbotron {
	// 	margin-bottom: 8%;
	// 	@media screen and (max-width: 750px) {
	// 		margin-bottom: 10%;
	// 	}

	// 	@media screen and (max-width: 480px) {
	// 		margin-bottom: 12%;
	// 	}
	// }
// }

// END OF HEADER SLIDER