// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-trust-img-1-hov-name: 'icon-trust-img-1-hov';
$icon-trust-img-1-hov-x: 0px;
$icon-trust-img-1-hov-y: 0px;
$icon-trust-img-1-hov-offset-x: 0px;
$icon-trust-img-1-hov-offset-y: 0px;
$icon-trust-img-1-hov-width: 84px;
$icon-trust-img-1-hov-height: 75px;
$icon-trust-img-1-hov-total-width: 334px;
$icon-trust-img-1-hov-total-height: 233px;
$icon-trust-img-1-hov-image: 'sprite.png';
$icon-trust-img-1-hov: (0px, 0px, 0px, 0px, 84px, 75px, 334px, 233px, 'sprite.png', 'icon-trust-img-1-hov', );
$icon-trust-img-1-name: 'icon-trust-img-1';
$icon-trust-img-1-x: 84px;
$icon-trust-img-1-y: 0px;
$icon-trust-img-1-offset-x: -84px;
$icon-trust-img-1-offset-y: 0px;
$icon-trust-img-1-width: 84px;
$icon-trust-img-1-height: 75px;
$icon-trust-img-1-total-width: 334px;
$icon-trust-img-1-total-height: 233px;
$icon-trust-img-1-image: 'sprite.png';
$icon-trust-img-1: (84px, 0px, -84px, 0px, 84px, 75px, 334px, 233px, 'sprite.png', 'icon-trust-img-1', );
$icon-trust-img-2-hov-name: 'icon-trust-img-2-hov';
$icon-trust-img-2-hov-x: 168px;
$icon-trust-img-2-hov-y: 0px;
$icon-trust-img-2-hov-offset-x: -168px;
$icon-trust-img-2-hov-offset-y: 0px;
$icon-trust-img-2-hov-width: 70px;
$icon-trust-img-2-hov-height: 79px;
$icon-trust-img-2-hov-total-width: 334px;
$icon-trust-img-2-hov-total-height: 233px;
$icon-trust-img-2-hov-image: 'sprite.png';
$icon-trust-img-2-hov: (168px, 0px, -168px, 0px, 70px, 79px, 334px, 233px, 'sprite.png', 'icon-trust-img-2-hov', );
$icon-trust-img-2-name: 'icon-trust-img-2';
$icon-trust-img-2-x: 0px;
$icon-trust-img-2-y: 154px;
$icon-trust-img-2-offset-x: 0px;
$icon-trust-img-2-offset-y: -154px;
$icon-trust-img-2-width: 70px;
$icon-trust-img-2-height: 79px;
$icon-trust-img-2-total-width: 334px;
$icon-trust-img-2-total-height: 233px;
$icon-trust-img-2-image: 'sprite.png';
$icon-trust-img-2: (0px, 154px, 0px, -154px, 70px, 79px, 334px, 233px, 'sprite.png', 'icon-trust-img-2', );
$icon-trust-img-3-hov-name: 'icon-trust-img-3-hov';
$icon-trust-img-3-hov-x: 0px;
$icon-trust-img-3-hov-y: 75px;
$icon-trust-img-3-hov-offset-x: 0px;
$icon-trust-img-3-hov-offset-y: -75px;
$icon-trust-img-3-hov-width: 78px;
$icon-trust-img-3-hov-height: 79px;
$icon-trust-img-3-hov-total-width: 334px;
$icon-trust-img-3-hov-total-height: 233px;
$icon-trust-img-3-hov-image: 'sprite.png';
$icon-trust-img-3-hov: (0px, 75px, 0px, -75px, 78px, 79px, 334px, 233px, 'sprite.png', 'icon-trust-img-3-hov', );
$icon-trust-img-3-name: 'icon-trust-img-3';
$icon-trust-img-3-x: 78px;
$icon-trust-img-3-y: 75px;
$icon-trust-img-3-offset-x: -78px;
$icon-trust-img-3-offset-y: -75px;
$icon-trust-img-3-width: 78px;
$icon-trust-img-3-height: 79px;
$icon-trust-img-3-total-width: 334px;
$icon-trust-img-3-total-height: 233px;
$icon-trust-img-3-image: 'sprite.png';
$icon-trust-img-3: (78px, 75px, -78px, -75px, 78px, 79px, 334px, 233px, 'sprite.png', 'icon-trust-img-3', );
$icon-trust-img-4-hov-name: 'icon-trust-img-4-hov';
$icon-trust-img-4-hov-x: 70px;
$icon-trust-img-4-hov-y: 154px;
$icon-trust-img-4-hov-offset-x: -70px;
$icon-trust-img-4-hov-offset-y: -154px;
$icon-trust-img-4-hov-width: 96px;
$icon-trust-img-4-hov-height: 51px;
$icon-trust-img-4-hov-total-width: 334px;
$icon-trust-img-4-hov-total-height: 233px;
$icon-trust-img-4-hov-image: 'sprite.png';
$icon-trust-img-4-hov: (70px, 154px, -70px, -154px, 96px, 51px, 334px, 233px, 'sprite.png', 'icon-trust-img-4-hov', );
$icon-trust-img-4-name: 'icon-trust-img-4';
$icon-trust-img-4-x: 238px;
$icon-trust-img-4-y: 0px;
$icon-trust-img-4-offset-x: -238px;
$icon-trust-img-4-offset-y: 0px;
$icon-trust-img-4-width: 96px;
$icon-trust-img-4-height: 51px;
$icon-trust-img-4-total-width: 334px;
$icon-trust-img-4-total-height: 233px;
$icon-trust-img-4-image: 'sprite.png';
$icon-trust-img-4: (238px, 0px, -238px, 0px, 96px, 51px, 334px, 233px, 'sprite.png', 'icon-trust-img-4', );
$spritesheet-width: 334px;
$spritesheet-height: 233px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-trust-img-1-hov, $icon-trust-img-1, $icon-trust-img-2-hov, $icon-trust-img-2, $icon-trust-img-3-hov, $icon-trust-img-3, $icon-trust-img-4-hov, $icon-trust-img-4, );
$spritesheet: (334px, 233px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
