// CLIENTS SECTION
.clients_section {
	padding: 4% 0;
	background-color: #fff;

	.index_sections__subtitle {

	}
}

.clients_images_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.client_image {
	width: 133px;
	margin: 30px;
}


// -------------------------------------------------------

